<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-end pr-3 pt-3">
        <div>
            <span class="font-weight-bold" th:text="#{lang.cambio}">Cambiar idioma</span>:
            <select id="locales">
                <option value="es" th:text="#{lang.espaniol}">Español</option>
                <option value="en" th:text="#{lang.ingles}">Inglés</option>
            </select>
        </div>
    </div>

    <h1 class="row justify-content-center mb-3" th:text="#{clientes}">Clientes</h1>
    <form th:action="@{/clientes/crear}" class="row justify-content-center mb-3">
        <input type="submit" th:value="#{btnCrear}" value="Crear" class="btn btn-success">
    </form>

    <div class="row mb-3 font-weight-bold bg-dark text-white">
        <div class="col-1" th:text="#{id}">Id</div>
        <div class="col-1" th:text="#{nombre}">Nombre</div>
        <div class="col-1" th:text="#{apellido1}">Apellido1</div>
        <div class="col-1" th:text="#{apellido2}">Apellido2</div>
        <div class="col-1" th:text="#{ciudad}">Ciudad</div>
        <div class="col-1" th:text="#{categoria}">Categoría</div>
    </div>

    <div  th:each="cliente : ${listaClientes}" class="row mb-2">
        <div th:text="${cliente.id}" class="col-1">Id</div>
        <div th:text="${cliente.nombre}" class="col-1">Nombre</div>
        <div th:text="${cliente.apellido}" class="col-1">Apellido1</div>
        <div th:text="${cliente.apellido2}" class="col-1">Apellido2</div>
        <div th:text="${cliente.ciudad}" class="col-1">Ciudad</div>
        <div th:text="${cliente.categoria}" class="col-1">Categoría</div>

        <form th:action="@{/clientes/__${cliente.id}__}" class="col-2">
            <input type="submit" th:value="#{btnVerDetalle}" value="Ver Detalle" class="btn btn-primary"/>
        </form>

        <form th:action="@{/clientes/editar/__${cliente.id}__}" class="col-2">
            <input type="submit" th:value="#{btnEditar}" value="Editar" class="btn btn-info"/>
        </form>

        <!-- Botón para el modal de alerta de eliminación-->
        <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#confirmDeleteModal_' + ${cliente.id}" th:text="#{btnEliminar}">Eliminar</button>

        <!-- Modal -->
        <div class="modal fade" th:id="'confirmDeleteModal_' + ${cliente.id}"  tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel" th:text="#{confirmElim}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p th:text="#{msgConfirmElim}+' '+${cliente.id}+' ('+${cliente.nombre}+' '+${cliente.apellido}+(${cliente.apellido2}?' '+${cliente.apellido2}:'')+')?'"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{btnCancelar}"></button>
                        <form th:action="@{/clientes/borrar/__${cliente.id}__}" method="post">
                            <button type="submit" class="btn btn-danger" th:text="#{btnEliminar}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- Script para el cambio de idioma -->
<script th:inline="javascript">
    $(function (){
        //IMPLEMENTANDO UN BOTÓN backToTop
        let btn = $('#backToTop');
        $(window).on('scroll', function() {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });
        btn.on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: 0
            }, '300');
        });

        let url = new URL(window.location.href);
        let valLang = url.searchParams.get('lang')
        $('#locales option[value='+valLang+']').attr('selected', 'selected');

        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                let url = new URL(window.location.href);
                url.searchParams.set('lang', selectedOption);
                window.location.href= url.href;
            }
        });

        /*[# th:if="${editPedidoID}"]*/
        $('html, body').animate({
            scrollTop: $('#'+[[${editPedidoID}]]).offset().top-137
        }, 1000, () => $('#'+[[${editPedidoID}]]).addClass('highlight'));
        /*[/]*/

    });
</script>


</body>
</html>