<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{crearCliente}">Crear Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid mt-3 mb-3">
    <form th:action="@{/clientes/crear}" th:object="${cliente}" th:method="post">
        <h1 class="row justify-content-center mb-3" th:text="#{crearCliente}">Crear Cliente</h1>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre" th:text="#{nombre}">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" value="Cliente" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido" th:text="#{apellido1}">Apellido1</label>
                    <input type="text" class="form-control" id="apellido" th:field="*{apellido}" value="Apellido1" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido2" th:text="#{apellido2}">Apellido2</label>
                    <input type="text" class="form-control" id="apellido2" th:field="*{apellido2}" value="Apellido2" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ciudad" th:text="#{ciudad}">Ciudad</label>
                    <input type="text" class="form-control" id="ciudad" th:field="*{ciudad}" value="Ciudad" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="categoria" th:text="#{categoria}">Categoría</label>
                    <input type="text" class="form-control" id="categoria" th:field="*{categoria}" value="Categoria" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <a href="/clientes" class="btn btn-danger mr-3" th:text="#{btnCancelar}">Cancelar</a>
            <input type="submit" th:value="#{btnCrear}" value="Crear" class="btn btn-success"/>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>