<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <form th:action="@{/clientes/crear}" th:object="${cliente}" th:method="post">
        <h1 class="row justify-content-center mb-3">Crear Cliente</h1>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" value="Cliente" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido">Apellido1</label>
                    <input type="text" class="form-control" id="apellido" th:field="*{apellido}" value="Apellido1" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido2">Apellido2</label>
                    <input type="text" class="form-control" id="apellido2" th:field="*{apellido2}" value="Apellido2" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido">Ciudad</label>
                    <input type="text" class="form-control" id="ciudad" th:field="*{ciudad}" value="Ciudad" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido">Categoría</label>
                    <input type="text" class="form-control" id="categoria" th:field="*{categoria}" value="Categoria" />
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-1">
                <a href="/clientes" class="btn btn-danger">Cancelar</a>
            </div>

            <div class="col-1">
                <input type="submit" value="Crear" class="btn btn-success"/>
            </div>
        </div>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-kmGGUv0uZLuGtnlD5b6p5X2u0J3A/D44rW4XIdqJb5dUnLqZ/EFEI1nGRaPrj66I" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-0JDEdzNNz9p0bCIH2X0G5PwnlU3u7EJpFl9ZD89GLaA1xkFS1f0aC7dRT7v4zuh" crossorigin="anonymous"></script>

</body>
</html>