<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{detalleComercial}">Detalle Comercial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid" >
    <h1 class="row justify-content-center mb-3" th:text="#{detalleComercial}">Detalle Comercial</h1>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="id" th:text="#{id}">Id</label>
                <input type="text" class="form-control" id="id" th:value="${comercialDTO.id}" value="id" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="nombre" th:text="#{nombre}">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:value="${comercialDTO.nombre}" value="Comercial" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido" th:text="#{apellido1}">Apellido1</label>
                <input type="text" class="form-control" id="apellido" th:value="${comercialDTO.apellido}" value="Apellido1" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido2" th:text="#{apellido2}">Apellido2</label>
                <input type="text" class="form-control" id="apellido2" th:value="${comercialDTO.apellido2}" value="Apellido2" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="comision" th:text="#{comision}">Comisión</label>
                <input type="text" class="form-control" id="comision" th:value="${comercialDTO.comision}" value="Comision" readonly="readonly"/>
            </div>
        </div>
    </div>

    <!-- PEDIDOS ASOCIADOS AL COMERCIAL -->
    <div>

        <h2  class="row justify-content-center mb-3" th:text="#{pedidosAsociados}">Pedidos asociados</h2>

        <div class="row justify-content-center mb-3">
            <div class="col-1 bg-success" th:text="#{pedidoMax}">Pedido Maximo</div>
            <div class="col-1 bg-warning" th:text="#{pedidoMin}">Pedido Mínimo</div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-1 font-weight-bold bg-dark text-white" th:text="#{id}">Id</div>
            <div class="col-1 font-weight-bold bg-dark text-white" th:text="#{total}">Total</div>
            <div class="col-1 font-weight-bold bg-dark text-white" th:text="#{fecha}">Fecha</div>
            <div class="col-1 font-weight-bold bg-dark text-white" th:text="#{cliente}">Cliente</div>
        </div>

        <div th:each="pedidoComercial : ${listaPedidosComercial}" class="row justify-content-center mb-3">
            <div th:text="${pedidoComercial.id}" th:class="${pedidoComercial == comercialDTO.getPedidoMaximoComercial() ? 'bg-success col-1' : (pedidoComercial == comercialDTO.getPedidoMinimoComercial() ? 'bg-warning col-1' : 'col-1')}"></div>
            <div th:text="${#numbers.formatDecimal(pedidoComercial.total, 1, 'DEFAULT', 2, 'DEFAULT')+'€'}" th:class="${pedidoComercial == comercialDTO.getPedidoMaximoComercial() ? 'bg-success col-1' : (pedidoComercial == comercialDTO.getPedidoMinimoComercial() ? 'bg-warning col-1' : 'col-1')}"></div>
            <div th:text="${pedidoComercial.fecha}" th:class="${pedidoComercial == comercialDTO.getPedidoMaximoComercial() ? 'bg-success col-1' : (pedidoComercial == comercialDTO.getPedidoMinimoComercial() ? 'bg-warning col-1' : 'col-1')}"></div>
            <a th:href="@{/clientes/__${pedidoComercial.getCliente().getId()}__}" th:text="${pedidoComercial.getCliente().getNombre()}" th:class="${pedidoComercial == comercialDTO.getPedidoMaximoComercial() ? 'bg-success col-1' : (pedidoComercial == comercialDTO.getPedidoMinimoComercial() ? 'bg-warning col-1' : 'col-1')}"></a>
        </div>
    </div>

    <!-- PEDIDOS ORDENADOS POR TOTAL DEL CLIENTE -->
    <div>
        <h2  class="row justify-content-center mb-3" th:text="#{clientesPorMaxtotal}">Clientes por mayor total</h2>

        <div class="row justify-content-center mb-3">
            <div class="col-1 font-weight-bold bg-dark text-white" th:text="#{cliente}">Cliente</div>
            <div class="col-1 font-weight-bold bg-dark text-white" th:text="#{total}">Total</div>
        </div>

        <div th:each="entry : ${comercialDTO.getTotalPorClienteOrdenado().entrySet()}" class="row justify-content-center mb-2">
            <div th:text="${entry.key.getNombre()}" class="col-1"></div>
            <div th:text="${#numbers.formatDecimal(entry.value, 1, 'DEFAULT', 2, 'DEFAULT')}+'€'" class="col-1"></div>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <form action="/comerciales" >
            <input type="submit" th:value="#{btnVolver}" value="Volver" class="btn btn-danger" />
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>