<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid" >

    <h1 class="row justify-content-center mb-3">Detalle Cliente</h1>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" th:value="${cliente.id}" value="id" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:value="${cliente.nombre}" value="Cliente" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido">Apellido1</label>
                <input type="text" class="form-control" id="apellido" th:value="${cliente.apellido}" value="Apellido1" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido2">Apellido2</label>
                <input type="text" class="form-control" id="apellido2" th:value="${cliente.apellido2}" value="Apellido2" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" th:value="${cliente.ciudad}" value="Ciudad" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido">Categoría</label>
                <input type="text" class="form-control" id="categoria" th:value="${cliente.categoria}" value="Categoria" readonly="readonly"/>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-kmGGUv0uZLuGtnlD5b6p5X2u0J3A/D44rW4XIdqJb5dUnLqZ/EFEI1nGRaPrj66I" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-0JDEdzNNz9p0bCIH2X0G5PwnlU3u7EJpFl9ZD89GLaA1xkFS1f0aC7dRT7v4zuh" crossorigin="anonymous"></script>

</body>
</html>