<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Comercial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid" >

    <h1 class="row justify-content-center mb-3">Detalle Comercial</h1>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" th:value="${comercial.id}" value="id" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:value="${comercial.nombre}" value="Comercial" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido">Apellido1</label>
                <input type="text" class="form-control" id="apellido" th:value="${comercial.apellido}" value="Apellido1" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido2">Apellido2</label>
                <input type="text" class="form-control" id="apellido2" th:value="${comercial.apellido2}" value="Apellido2" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" th:value="${comercial.ciudad}" value="Ciudad" readonly="readonly"/>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido">Categoría</label>
                <input type="text" class="form-control" id="categoria" th:value="${comercial.categoria}" value="Categoria" readonly="readonly"/>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-1">
            <form action="/comerciales" >
                <input type="submit" value="Volver" class="btn btn-danger" />
            </form>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>