<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title  th:text="#{editarCliente}">Editar Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid mt-3 mb-3" >
    <div class="container bg-white">
        <div class="row">
            <div class="col">
                <span class="font-weight-bold" th:text="#{lang.cambio}">Cambiar idioma</span>:
                <select id="locales">
                    <option value="es" th:text="#{lang.espaniol}">Español</option>
                    <option value="en" th:text="#{lang.ingles}">Inglés</option>
                </select>
            </div>

            <div class="col text-right">
                <form class="d-inline" th:action="@{/index}">
                    <input type="submit" th:value="#{btn.inicio}" value="Clientes" class="btn btn-warning"/>
                </form>
                <form class="d-inline" th:action="@{/comerciales}">
                    <input type="submit" th:value="#{btn.go.comerciales}" value="Clientes" class="btn btn-warning"/>
                </form>
            </div>
        </div>
    </div>

    <form th:action="@{/clientes/editar/__${cliente.id}__}" th:object="${cliente}" th:method="post" >
        <h1 class="row justify-content-center mb-3" th:text="#{editarCliente}">Editar Cliente</h1>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="id" th:text="#{id}">Id</label>
                    <input type="text" class="form-control" id="id" th:field="*{id}" value="id" readonly="readonly"/>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre" th:text="#{nombre}">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}"  th:field="*{nombre}" value="Cliente" />
                    <span class="text-danger " th:if="${#fields.hasErrors('nombre')}">
                        <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" />
                    </span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido" th:text="#{apellido1}">Apellido1</label>
                    <input type="text" class="form-control" id="apellido" th:classappend="${#fields.hasErrors('apellido')?'is-invalid':''}"  th:field="*{apellido}" value="Apellido1" />
                    <span class="text-danger " th:if="${#fields.hasErrors('apellido')}">
                        <li th:each="err : ${#fields.errors('apellido')}" th:text="${err}" />
                    </span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="apellido2" th:text="#{apellido2}">Apellido2</label>
                    <input type="text" class="form-control" id="apellido2" th:classappend="${#fields.hasErrors('apellido2')?'is-invalid':''}"  th:field="*{apellido2}" value="Apellido2" />
                    <span class="text-danger " th:if="${#fields.hasErrors('apellido2')}">
                        <li th:each="err : ${#fields.errors('apellido2')}" th:text="${err}" />
                    </span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email" th:text="#{email}">Email</label>
                    <input type="text" class="form-control" id="email" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"  th:field="*{email}" value="email" />
                    <span class="text-danger " th:if="${#fields.hasErrors('email')}">
                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                    </span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ciudad" th:text="#{ciudad}">Ciudad</label>
                    <input type="text" class="form-control" id="ciudad" th:classappend="${#fields.hasErrors('ciudad')?'is-invalid':''}" th:field="*{ciudad}" value="Ciudad" />
                    <span class="text-danger " th:if="${#fields.hasErrors('ciudad')}">
                        <li th:each="err : ${#fields.errors('ciudad')}" th:text="${err}" />
                    </span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="categoria" th:text="#{categoria}">Categoría</label>
                    <input type="text" class="form-control" id="categoria" th:classappend="${#fields.hasErrors('categoria')?'is-invalid':''}" th:field="*{categoria}" value="Categoria" />
                    <span class="text-danger " th:if="${#fields.hasErrors('categoria')}">
                        <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}" />
                    </span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <a href="/clientes" class="btn btn-danger mr-3" th:text="#{btnCancelar}">Cancelar</a>
            <input type="submit" th:value="#{btnGuardar}" value="Guardar" class="btn btn-success"/>
        </div>
    </form>

    <!-- EXTRA: AÑADIR COMERCIALES AL CLIENTE-->
    <div>
        <label for="selectcomercial" class="form-label" >Comercial</label>
        <div >
            <select id="selectcomercial" class="js-select2 form-select" th:classappend="${#fields.hasErrors('idComercial')?'is-invalid':''}" th:field="*{idComercial}">
                <option value="-1" >Seleccione opción</option>
                <option
                        th:value="${comercial.id}"
                        th:text="${'Id: ' + comercial.id + ' - ' + comercial.nombre + ' ' + comercial.apellido1 + ' ' + comercial.apellido2}"
                        th:each="comercial:${listaComerciales}">
                </option>
            </select>

            <ul class="text-danger" th:if="${#fields.hasErrors('idComercial')}">
                <li th:each="err : ${#fields.errors('idComercial')}" th:text="${err}" />
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <input type="submit" th:value="#{btnAniadirComercial}" value="Añadir Comercial" class="btn btn-success"/>
    </div>



</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- Script para el cambio de idioma -->
<script th:inline="javascript">
    $(function (){
        //IMPLEMENTANDO UN BOTÓN backToTop
        let btn = $('#backToTop');
        $(window).on('scroll', function() {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });
        btn.on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: 0
            }, '300');
        });

        let url = new URL(window.location.href);
        let valLang = url.searchParams.get('lang')
        $('#locales option[value='+valLang+']').attr('selected', 'selected');

        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                let url = new URL(window.location.href);
                url.searchParams.set('lang', selectedOption);
                window.location.href= url.href;
            }
        });

        /*[# th:if="${editPedidoID}"]*/
        $('html, body').animate({
            scrollTop: $('#'+[[${editPedidoID}]]).offset().top-137
        }, 1000, () => $('#'+[[${editPedidoID}]]).addClass('highlight'));
        /*[/]*/

    });
</script>
</body>
</html>