<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
  <link href="/css/error.css" type="text/css" rel="stylesheet" />
</head>
<body>
<button class="error-code" th:attr="data-message=#{'error500'}">

  <div class="number five">
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>

    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
  </div>
  <div class="number zero">
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
  </div>
  <div class="number zero">
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>

    <div class="cell empty"></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell filled"><div class="bug"></div></div>
    <div class="cell empty"></div>
  </div>
</button>

</div>


</body>
</html>